{{ $author := index site.Data.authors .Params.author }}
{{ $lang := .Params.lang }}
<div class="author-card">
    {{ if $author.avatar }}
    <img src="{{ $author.avatar | relURL }}" alt="{{ $author.name }}">
    {{ end }}
    <div>
        <div class="author-label">{{ if eq $lang "pt" }}Escrito por{{ else }}Written by{{ end }}</div>
        <div class="author-name"><a href="{{ "/about/" | relURL }}">{{ $author.name }}</a></div>
        <p class="author-bio">{{ if eq $lang "pt" }}{{ $author.bio.pt }}{{ else }}{{ $author.bio.eng }}{{ end }}</p>
    </div>
</div>
