<div class="units-row">

	<div class="unit-66"><!--about-->
		<h3><a id="about">about</a></h3>
		<figure class="image-left">
			<img class="avatar" src="/img/avatar.jpeg" height="120" width="100">
		</figure>
		<p>I&rsquo;m <em>Ph.D Ewerton de Oliveira</em>, and this is my personal website. I work as a
			<a href="https://en.wikipedia.org/wiki/Machine_learning" target="_blank">machine learning</a>
			engineer
			and researcher at <a href="https://www.hp.com" target="_blank">HP Inc</a>. &para; From 2021, I
			started
			co-advising students in the <a href="https://laser.ci.ufpb.br/en/" target="_blank">Laboratory of
				Systems Engineering and Robotics</a>
			at the <a href="https://www.ufpb.br/" target="_blank">UFPB</a> and at <a
				href="http://www.senaicimatec.com.br/en/" target="_blank">SENAI-CIMATEC</a>. &para; Nothing
			here is <em>in any way</em> endorsed by HP Inc or any of the research institutes or
			universities I collaborate with.
		</p>
	</div><!--end about-->

	<div class="unit-33"><!--contact-->
		<h3>elsewhere</h3>
		<ul class="compact fa-ul">
			<li><i class="fa-li fa fa-briefcase fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i>HP
				Inc, Av. Ipiranga 6681 Building 95C, Porto Alegre-RS, Brazil.</li>
			<li><i class="fa-li fa fa-envelope fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i><a
					href="mailto:ewerlopes@gmail.com" rel="me" target="_blank">ewerlopes@gmail.com</a></li>
			<li><i class="fa-li fa fa-twitter-square fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i><a
					href="https://twitter.com/ewerlopes" rel="me" target="_blank">@ewerlopes</a> on Twitter.
			</li>
			<li><i class="fa-li fa fa-instagram fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i><a
					href="https://instagram.com/ewerlopes" rel="me" target="_blank">@ewerlopes</a> on Instagram.
			</li>
			<li><i class="fa-li fa fa-github fa-fw" style="color:#b24;font-size:80%;padding-top:6px;"></i><a
					href="https://github.com/ewerlopes" rel="me" target="_blank">@ewerlopes</a> on GitHub.</li>
		</ul>
	</div><!--end contact-->

</div>